/*
 * Aufbau des Dokuments /seah/
 * 
 * 1.General
 * 2.Header
 * 3.Navigation
 * 4.Content
 * 
 */

/***********1.General************/
body,html
{
}

div#Layout /*hepo*/
{
background-image: url("../gfx/layout/Layout.png");
position:absolute;
top:0px;
left:0px;
width: 850px;
height: 600px;
z-index: 1;
}

/***********2.Header************/

/***********TopNavigation************/

#tobnav 
{
    z-index: 1;
}

#Button1 a,#Button2 a,#Button3 a,#Button4 a,#Button5 a,#Button6 /*hepo*/
{
position:absolute;
top:59px;
z-index: 3;
width: 54px;
height: 111px;
}

#Button1 a /*hepo*/
{
left:410px;
background-image: url("../gfx/layout/Button1.png");
}

#Button1 a:hover /*hepo*/
{
background-image: url("../gfx/layout/HighlightButton1.png");
}

#Button2 a /*hepo*/
{
position:absolute;
left:478px;
background-image: url("../gfx/layout/Button2.png");
}

#Button2 a:hover /*hepo*/
{
background-image: url("../gfx/layout/HighlightButton2.png");
}

#Button3 a /*hepo*/
{
position:absolute;
left:546px;
background-image: url("../gfx/layout/Button3.png");
}

#Button3 a:hover /*hepo*/
{
background-image: url("../gfx/layout/HighlightButton3.png");
}

#Button4 a /*hepo*/
{
position:absolute;
left:613px;
background-image: url("../gfx/layout/Button4.png");
}

#Button4 a:hover /*hepo*/
{
background-image: url("../gfx/layout/HighlightButton4.png");
}

#Button5 a /*hepo*/
{
position:absolute;
left:681px;
background-image: url("../gfx/layout/Button5.png");
}

#Button5 a:hover /*hepo*/
{
background-image: url("../gfx/layout/HighlightButton5.png");
}

#Button6 /*hepo*/
{
position:absolute;
left:742px;
width: 108px;
background-image: url("../gfx/layout/Button6.png");
}

/***********3.Navigation************/

#Link1,#Link2,#Link3,#Link4,#Link5 /*hepo*/
{
position:absolute;
left:17px;
z-index: 1;
width:125px;
height:46px;
}

#Link1 /*hepo*/
{
top:161px;
background-image:url("../gfx/layout/Link1.png");
}

#Link2 /*hepo*/
{
top:207px;
background-image:url("../gfx/layout/Link2.png");
}

#Link3 /*hepo*/
{
top:253px;
background-image:url("../gfx/layout/Link3.png");
}

#Link4 /*hepo*/
{
top:299px;
background-image:url("../gfx/layout/Link4.png");
}

#Link5 /*hepo*/
{
top:345px;
background-image:url("../gfx/layout/Link5.png");
}

/***********4.Content************/
div#Content /*hepo*/
{
background-image: url("../gfx/layout/Background.jpg");
position:absolute;
top:0px;
left:0px;
width: 850px;
height: 600px;
}

div#Text /*hepo*/
{
position:absolute;
top:170px;
left:170px;
width: 480px;
height: 430px;
z-index: 3;
}

div#Bilder /*hepo*/
{
position:absolute;
top:170px;
left:670px;
width: 180px;
height: 430px;
z-index: 2;
}
 
#Text a img { visibility:hidden; position: absolute; top:0px;left: 530px; height: 100px; width: 150px; z-index:4; }
#Text a:hover img { visibility:visible; }
