/*
 * Aufbau des Dokuments /seah/
 * 
 * 1.General
 * 2.Header
 * 3.Navigation
 * 4.Content
 * 
 */

/***********1.General************/
body,html
{
}

div#Layout /*hepo*/
{
position:absolute;
top:0px;
left:0px;
width: 850px;
height: 600px;
z-index: 2;
}

/***********2.Header************/

#Button1 a,#Button2 a,#Button3 a,#Button4 a,#Button5 a,#Button6 /*hepo*/
{
position:absolute;
top:59px;
z-index: 3;
width: 54px;
height: 111px;
}

#Button1 a 
{
left:410px;

}

#Button1 a:hover
{
}

#Button2 a /*hepo*/
{
position:absolute;
left:478px;
}

#Button2 a:hover
{
}

#Button3 a
{
position:absolute;
left:546px;
}

#Button3 a:hover
{
}

#Button4 a
{
position:absolute;
left:613px;
}

#Button4 a:hover
{
}

#Button5 a
{
position:absolute;
left:681px;
}

#Button5 a:hover
{
}

#Button6 /*hepo*/
{
position:absolute;
left:742px;
width: 108px;
}

/***********3.Navigation************/

#Link1,#Link2,#Link3,#Link4,#Link5
{
position:absolute;
left:17px;
z-index: 3;
width:125px;
height:46px;
}

#Link1
{
top:161px;
}

#Link2
{
top:207px;
}

#Link3
{
top:253px;
}

#Link4
{
top:299px;
}

#Link5
{
top:345px;
}

/***********4.Content************/
div#Content
{
position:absolute;
top:0px;
left:0px;
width: 850px;
height: 600px;
z-index: 1;
}

div#Text
{
position:absolute;
top:170px;
left:170px;
width: 480px;
height: 430px;
z-index: 4;
}

div#Bilder
{
position:absolute;
top:170px;
left:670px;
width: 180px;
height: 430px;
z-index: 3;
}
 
#Text a img {height: 0; width: 0; border-width: 0;}
#Text a:hover img {position: absolute; top:0px;left: 630px; height: 100px; width: 150px; z-index:4;}
